@font-face {
  font-family: "futura-heavy-bt";
  src: url("/src/assets/fonts/futura-heavy-bt.ttf") format("truetype");
}

@import "tailwindcss";

@theme {
  --color-primary: #212121;
  --color-secondary: #e96900;
  --color-tertiary: #d9d9d9;
  --color-focus: #ffb74d;
  --color-success: #25451d;
  --color-warning: #44451d;
  --color-error: #451d1d;
  --color-inputbg: #313131;
  --text-primary: #ffffff;
  --font-futura: "futura-heavy-bt", sans-serif;
  --screen-minus-header: calc(100vh - 4rem);
}

body {
  color: var(--text-primary);
}
